1
<configuration>
2
    <system.web>
3
        <compilation batch="false" />
4
    </system.web>
5
    <system.webServer>
6
        <handlers>
7
            <add name="iisnode" path="app.js" verb="*" modules="iisnode" />
8
        </handlers>
9
        <iisnode loggingEnabled="true" />
10
 
11
    <rewrite>
12
        <rules>
13
            <rule name="myapp">
14
                <match url="/*" />
15
                <action type="Rewrite" url="app.js" />
16
            </rule>
17
        </rules>
18
    </rewrite>
19
  </system.webServer>
20
</configuration>
